@media (max-width: 992px) {
  .Item-a {
    height: 50px;
  }
  .item-a-image {
    padding-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }
  .title-a {
    padding-top: 15px;
    color: rgba(0, 42, 255, 0.841);
    font-size: 17px;
    margin: 0px 100px;
  }
  .item-a-a {
    justify-content: flex-start;
  }
  .menu {
    gap: 10px;
  }
  .menu-ber {
    color: #ffff;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 3px;
    background-image: linear-gradient(rgb(156, 133, 192), rgb(153, 78, 125));
  }

  .item-b {
    padding: 4%;
  }
  .item-b-a {
    margin: 3%;
    padding-right: 3%;
  }
  .titel-b {
    font-size: 22px;
  }
  .Pragraph-a {
    font-size: 12px;
    margin-top: 18px;
  }
  .item-b-b {
    gap: 40px;
    margin-top: 25px;
  }
  .item-b-b-a {
    font-size: 10px;
    border: 2px solid rgb(100, 221, 230);
    padding: 3px 7px;
    border-radius: 3px;
  }
  .item-b-c {
    margin-right: 4%;
  }
  .image-a {
    height: 260px;
    width: 250px;
  }

  .item-c {
    padding: 4%;
  }
  .image-b {
    height: 200px;
    width: 300px;
  }
  .item-c-b {
    padding-left: 10px;
  }
  .item-c-b-a {
    font-size: small;
  }
  .titel-c {
    font-size: 22px;
    padding-top: 5px;
  }
  .Pragraph-b {
    padding-top: 6px;
    font-size: 12px;
  }
  .item-c-b-d {
    padding-left: 10px;
    font-size: 12px;
    padding-top: 5px;
  }
  .item-c-b-d-a {
    padding: 1px;
  }
  .item-c-b-e {
    margin-top: 7px;
  }
  .item-c-b-e-a {
    border: 2px solid rgb(230, 113, 113);
    border-radius: 3px;
    font-size: 12px;
  }

  .item-d {
    padding: 4%;
    padding-top: 30px;
  }
  .titel-d {
    color: rgb(147, 27, 233);
  }
  .item-d-a {
    flex-direction: column-reverse;
  }
  .item-d-a-a {
    width: 100%;
  }
  .image-f {
    padding: 50px 70px;
  }
}
