@media (max-width: 992px) {
  .Item-a {
    height: 50px;
  }
  .item-a-image {
    padding-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }
  .title-a {
    padding-top: 15px;
    color: rgba(0, 42, 255, 0.841);
    font-size: 17px;
    margin: 0px 100px;
  }
  .item-a-a {
    justify-content: flex-start;
  }
  .menu {
    gap: 10px;
  }
  .menu-ber {
    color: #ffff;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 3px;
    background-image: linear-gradient(rgb(156, 133, 192), rgb(153, 78, 125));
  }

  .item-b {
    padding: 4%;
  }
  .item-b-a {
    margin: 3%;
    padding-right: 3%;
  }
  .titel-b {
    font-size: 22px;
  }
  .Pragraph-a {
    font-size: 12px;
    margin-top: 18px;
  }
  .item-b-b {
    gap: 40px;
    margin-top: 25px;
  }
  .item-b-b-a {
    font-size: 10px;
    border: 2px solid rgb(100, 221, 230);
    padding: 3px 7px;
    border-radius: 3px;
  }
  .item-b-c {
    margin-right: 4%;
  }
  .item-b-c-a {
    height: 260px;
    width: 250px;
  }
}
