@media (max-width: 600px) {
  .Item-a {
    height: 30px;
  }
  .item-a-image {
    padding-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 3px;
  }
  .title-a {
    padding-top: 10px;
    color: rgb(251, 0, 0);
    font-size: 12px;
    margin: 0px 50px;
  }
  .item-a-a {
    justify-content: stretch;
  }
  .menu {
    margin-right: 10px;
    gap: 10px;
  }
  .menu-ber {
    color: #ffff;
    font-size: 9px;
    padding: 1.5px 5px;
    border-radius: 2px;
    background-image: linear-gradient(rgb(65, 151, 131), rgb(70, 100, 143));
  }

  .item-b {
    flex-direction: column;
    padding: 5%;
  }
  .item-b-a {
    width: 100%;
  }
  .titel-b {
    font-size: 16px;
  }
  .Pragraph-a {
    font-size: 9px;
    margin-top: 13px;
  }
  .item-b-b {
    gap: 20px;
    margin-top: 15px;
  }
  .item-b-c-a {
    align-items: center;
    padding-top: 30px;
  }
}
