@media (max-width: 600px) {
  .Item-a {
    height: 30px;
  }
  .item-a-image {
    padding-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 3px;
  }
  .title-a {
    padding-top: 10px;
    color: rgb(251, 0, 0);
    font-size: 12px;
    margin: 0px 50px;
  }
  .item-a-a {
    justify-content: stretch;
  }
  .menu {
    margin-right: 10px;
    gap: 10px;
  }
  .menu-ber {
    color: #ffff;
    font-size: 9px;
    padding: 1.5px 5px;
    border-radius: 2px;
    background-image: linear-gradient(rgb(65, 151, 131), rgb(70, 100, 143));
  }

  .item-b {
    flex-direction: column;
    padding: 4%;
  }
  .item-b-a {
    width: 100%;
  }
  .titel-b {
    font-size: 16px;
  }
  .Pragraph-a {
    font-size: 9px;
    margin-top: 13px;
  }
  .item-b-b {
    gap: 20px;
    margin-top: 15px;
  }
  .image-a {
    align-items: center;
    padding-top: 30px;
  }

  .item-c {
    flex-direction: column-reverse;
  }
  .item-c-a {
    width: 100%;
  }
  .image-b {
    padding-top: 30px;
  }
  .titel-c {
    font-size: 16px;
    padding-top: 0px;
  }
  .item-c-b {
    padding-top: 30px;
  }
  .Pragraph-b {
    font-size: 9px;
  }

  .item-d {
    padding-top: 20px;
  }
  .titel-d {
    font-size: 12px;
  }
  .titel-e {
    font-size: 22px;
    padding: 10px;
  }
  .Pragraph-c {
    font-size: 12px;
  }

  .item-d-a-a-a {
    padding: 10px 15px;
    border-radius: 3px;
    margin: 1% 1%;
  }
  .image-c {
    height: 70px;
    width: 80px;
  }
  .titel-e-a {
    padding-left: 7px;
    font-size: 12px;
  }
  .Pragraph-c-a {
    padding-left: 7px;
    padding-top: 6px;
    font-size: 9px;
  }
  .item-d-a-a-b {
    padding: 10px 15px;
    border-radius: 3px;
    margin: 1% 1%;
  }
  .image-d {
    height: 70px;
    width: 80px;
  }
  .titel-e-b {
    padding-left: 7px;
    font-size: 12px;
  }
  .Pragraph-c-b {
    padding-left: 7px;
    padding-top: 6px;
    font-size: 9px;
  }
  .item-d-a-a-c {
    padding: 10px 15px;
    border-radius: 3px;
    margin: 1% 1%;
  }
  .image-e {
    height: 70px;
    width: 80px;
  }
  .titel-e-c {
    padding-left: 7px;
    font-size: 12px;
  }
  .Pragraph-c-c {
    padding-left: 7px;
    padding-top: 6px;
    font-size: 9px;
  }
  .image-f {
    height: 250px;
    width: 260px;
    padding: 20px 40px;
  }
}
