* {
  padding: 0;
  margin: 0;
}
body {
  padding: none;
  margin: none;
}
.Item-a {
  background-color: rgb(198, 238, 246);
  height: 80px;
}
.item-a-image {
  padding-left: 70px;
  height: 80px;
  width: 80px;
  border-radius: 8px;
}
.title-a {
  padding-top: 25px;
  color: rgb(76, 28, 164);
}
.item-a-a {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu-ber {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700px;
  color: #ffff;
  padding: 2px 10px;
  border: 1px solid #530ff3;
  border-radius: 5px;
  transition: 0.5s;
  background-image: linear-gradient(rgb(75, 197, 185), rgb(28, 92, 211));
}

.item-b {
  display: flex;
  padding: 7%;
}
.item-b-a {
  width: 50%;
  margin: 5%;
  padding-right: 5%;
}
.titel-b {
  font-size: 40px;
}
.Pragraph-a {
  font-size: 20px;
  margin-top: 35px;
}
.item-b-b {
  list-style: none;
  display: flex;
  gap: 80px;
  margin-top: 45px;
  justify-content: start;
}
.item-b-b-a {
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  border: 3px solid rgb(100, 221, 230);
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(102, 220, 218);
}
.item-b-b-a:hover {
  background-color: #530ff3;
  transition: 10ms;
  border: none;
  color: #ffff;
}
.item-b-c {
  margin-right: 8%;
}
.image-a {
  height: 460px;
  width: 450px;
}

.item-c {
  display: flex;
  padding: 7%;
  padding-top: 0px;
}
.item-c-a {
  width: 50%;
}
.image-b {
  height: 400px;
  width: 600px;
}
.item-c-b {
  padding-left: 20px;
}
.item-c-b-a {
  font-size: large;
  color: rgb(32, 176, 140);
}
.titel-c {
  font-size: 40px;
  padding-top: 10px;
}
.Pragraph-b {
  padding-top: 10px;
  font-size: 20px;
}
.item-c-b-d {
  padding-left: 17px;
  font-size: 20px;
  padding-top: 7px;
}
.item-c-b-d-a {
  padding: 5px;
  color: #530ff3;
}
.item-c-b-e {
  list-style: none;
  margin-top: 20px;
}
.item-c-b-e-a {
  text-decoration: none;
  border: 3px solid rgb(230, 113, 113);
  border-radius: 5px;
  font-size: 20px;
  padding: 3px 7px;
  background-color: #e57058;
  color: #ffff;
  transition: 15ms;
}
.item-c-b-e-a:hover {
  background-color: blue;
  border: none;
}

.item-d {
  padding: 7%;
  padding-top: 50px;
  background-color: rgb(240, 250, 247);
}
.titel-d {
  text-align: center;
  font-size: 20px;
  color: rgb(108, 108, 204);
}
.titel-e {
  text-align: center;
  font-size: 32px;
  padding: 15px;
}
.Pragraph-c {
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.item-d-a {
  display: flex;
}
.item-d-a-a {
  width: 50%;
}
.item-d-a-a-a {
  display: flex;
  box-shadow: 10px 10px 30px gray;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 5% 15%;
  background-color: #ffff;
}
.item-d-a-a-a-a {
  width: 30%;
}
.image-c {
  height: 90px;
  width: 100px;
  border-radius: 3px;
  align-content: center;
}
.item-d-a-a-a-b {
  width: 70%;
}
.titel-e-a {
  padding-left: 10px;
}
.Pragraph-c-a {
  padding-left: 10px;
  padding-top: 8px;
}
.item-d-a-a-b {
  display: flex;
  box-shadow: 10px 10px 30px gray;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 5% 15%;
  background-color: #ffff;
}
.item-d-a-a-b-a {
  width: 30%;
}
.image-d {
  height: 90px;
  width: 100px;
  border-radius: 3px;
  align-content: center;
}
.item-d-a-a-b-b {
  width: 70%;
}
.titel-e-b {
  padding-left: 10px;
}
.Pragraph-c-b {
  padding-left: 10px;
  padding-top: 8px;
}
.item-d-a-a-c {
  display: flex;
  box-shadow: 10px 10px 30px gray;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 5% 15%;
  background-color: #ffff;
}
.item-d-a-a-c-a {
  width: 30%;
}
.image-e {
  height: 90px;
  width: 100px;
  border-radius: 3px;
  align-content: center;
}
.item-d-a-a-c-b {
  width: 70%;
}
.titel-e-c {
  padding-left: 10px;
}
.Pragraph-c-c {
  padding-left: 10px;
  padding-top: 8px;
}
.item-d-a-b {
  width: 50%;
}
.image-f {
  padding-top: 5%;
  border-radius: 5px;
  height: 500px;
  width: 510px;
}
