* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Dosis", sans-serif;
  padding: none;
  margin: none;
}
.Item-a {
  background-color: rgb(198, 238, 246);
  height: 80px;
}
.item-a-image {
  padding-left: 70px;
  height: 80px;
  width: 80px;
  border-radius: 8px;
}
.title-a {
  padding-top: 25px;
  color: rgb(76, 28, 164);
}
.item-a-a {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu-ber {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700px;
  color: #000000;
  padding: 2px 10px;
  border: 1px solid #530ff3;
  border-radius: 5px;
  transition: 0.5s;
  background-image: linear-gradient(rgb(23, 226, 206), rgb(28, 92, 211));
}
